<!-- default/theme/thankyou/template/html/page/supporters.template -->

<p>
	This project could not exist without the countless individuals who have <br>
	contributed their space, resources, time, hearts, and intentions <br>
	to supporting this project's development. Thank you.
</p>

<!-- / supporters.template -->