<html>
<head>
    <title>Keyboard Frame2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- keyboard_frame2.template -->
<frameset border=0 rows="*,190">
<frame src="write.html" name=main>
<frame src="keyboard.html" name=kbd>
</frameset>
<noframes><a href="/write.html">write.html</a></noframes>
</html>