<html>
<head>
    <title>Keyboard Frame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- keyboard_frame1.template -->
<frameset border=0 rows="*,135">
<frame src="write.html" name=main>
<frame src="keyboard_android.html" name=kbd>
</frameset>
<noframes><a href="/write.html">write.html</a></noframes>
</html>