<!-- widget/author2.template -->
<pre>Alias: <span class=author_alias></span>
Keys:  <span class=author_key_count></span>
Seen:  <span class=last_seen></span>
Score: <span class=author_score></span>
Items: <span class=item_count></span></pre>
<!-- widget/author2.template -->
