<!-- clock.template -->
<span>
	<input
		style="text-align: center; float: right;"
		type=text
		size=15
		name=txtClock
		id=txtClock value="$currentTime"
		title=clock
	>
</span>
<!-- / clock.template -->