<!-- identity.template -->
<p>
	<span id=spanUsernameSessionLink><a href="/session.html">Session</a></span>
</p>
<p>
	<span><a href="/session.html">Register</a></span>
</p>
<p>
	<span><a href="/session.html">Sign In</a></span>
</p>
<!-- / identity.template -->