<!-- label_item.template -->
<fieldset>
<label for=$tagName value=$tagName>
$tagName
<input type=radio id=$tagNameLow name=$tagName value=1 title=Low>
<input type=radio id=$tagNameMedium name=$tagName value=10 title=Medium>
<input type=radio id=$tagNameLow name=$tagName value=11 title=High>
</label>
</fieldset>
<!-- / label_item.template -->
