<!-- reply_cart.template -->
<fieldset>
	<span id=replyCartCount></span>
	<noscript><b>*</b></noscript>
</fieldset>
<fieldset>
	<a id=replyCartInsert href=#>Paste</a>
	<hr>
	<a id=replyCartClear href=#>Clear</a>
	<br>
	<a id=replyCartAddAll href=#>Add All</a>
</fieldset>
<!-- / reply_cart.template -->