<!-- titlebar.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<font color="$colorTitlebarText"><b>$windowTitle</b></font><br>
	</td>
</tr>
<!-- / titlebar.template -->
