RewriteEngine On
RewriteRule ^post\.html??(.+)? /post.php [QSA]
RewriteRule ^chat\.html??(.+)? /quick.php [QSA]

# config/setting/php/rewrite=all
########################
# php supported on all urls
# BUT less accessible static failover
# includes urls without query in route.php requests
# this mode is useful if you require registration

RewriteRule ^(.+\.html)$ /route.php?path=/$1 [QSA]
RewriteRule ^(.*)\/$ /route.php?path=$1/index.html [QSA]
RewriteRule ^$ /route.php?path=/index.html [QSA]