/* theme/news/additional.css */

/* below this line (c) news.ycombinator.com */

body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#404040; }
td    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#404040; }
input    { font-family:monospace; font-size:10pt; }

input[type=\"submit\"] { font-family:Verdana, Geneva, sans-serif; }
textarea { font-family:monospace; font-size:10pt; }
a:link    { color:#000000; }
a:visited { color:$colorVlink; }

@media only screen and (min-width : 300px) and (max-width : 389px) {
  .txt { max-width: 270px; overflow: hidden }
}
@media only screen and (min-width : 390px) and (max-width : 509px) {
  .txt { max-width: 350px; overflow: hidden }
}
@media only screen and (min-width : 510px) and (max-width : 599px) {
  .txt { max-width: 460px; overflow: hidden }
}
@media only screen and (min-width : 600px) and (max-width : 689px) {
  .txt { max-width: 540px; overflow: hidden }
}
@media only screen and (min-width : 690px) and (max-width : 809px) {
  .txt { max-width: 620px; overflow: hidden }
}
@media only screen and (min-width : 810px) and (max-width : 899px) {
  .txt { max-width: 730px; overflow: hidden }
}
@media only screen and (min-width : 900px) and (max-width : 1079px) {
  .txt { max-width: 810px; overflow: hidden }
}
@media only screen and (min-width : 1080px) and (max-width : 1169px) {
  .txt { max-width: 970px; overflow: hidden }
}
@media only screen and (min-width : 1170px) and (max-width : 1259px) {
  .txt { max-width: 1050px; overflow: hidden }
}
@media only screen and (min-width : 1260px) and (max-width : 1349px) {
  .txt { max-width: 1130px; overflow: hidden }
}

.titlebarButtons {
	float: right;
}
.titlebarButtons button {
	border: 0;
	border-radius: 2px;
}


/* above this line (c) news.ycombinator.com */

/* theme/news/additional.css */
