<!-- links.template -->
<h3><a href="https://forms.gle/JUvaggfVCNS8P54G7">Hackathon</a></h3>
<h3><a href="https://discord.com/invite/Uj9rT96za9">Discord</a></h3>
<h3><a href="https://gather.town/app/rTCC2qDquw582Apg/mitbtcexpov1/">Gather.town</a></h3>
<h3><a href="https://mit-bitcoin-club.myshopify.com/collections/all">Swag Shop</a></h3>
<!-- / links.template -->
