<!-- template/html/form/developer.template -->
<form action=/post.html>
	<input type=hidden name=comment value=1>
	<span class=advanced>
        <label for="chkUpgrade">
            <input type=checkbox name=chkUpgrade id=chkUpgrade>
			Upgrade
        </label>
	</span>
	<input type=submit name=btnUpgrade value=Upgrade>
</form>
<!-- / template/html/form/developer.template -->
