body {
	background-color: #3e2295;
	color: #f2de70;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
* {
	font-family: monospace;
	font-size: 16px;
}
form {
	margin: 20px;
	max-width: 600px;
}

input[type="text"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #35619c;
	border-radius: 5px;
	background-color: #eb368b;
	color: #f2de70;
}

input[type="submit"] {
	background-color: #31e7ba;
	color: #35619c;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

#item_flat_placeholder .item {
	background-color: #3e2295;
	color: #eb368b;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border-width: 1px;
	border-style: dashed;
	border-color: #31e7ba;
}

.introduction {
	margin: 20px;
	padding: 20px;
	background-color: #8372b5;
	color: #543e68;
	border-radius: 10px;
}

.pi {
	color: #00ff00;
	background-color: #000000;
	text-decoration: none;
	margin: 12px;
	padding: 12px;
}

.voting {
	margin-left: 20px;
}