<!-- titlebar.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<font color="$colorTitlebarText"><b>$windowTitle</b></font> <a class=dialogAnchor href=#$dialogAnchor>#</a><a name=$dialogAnchor></a><br>
		<!-- note! dragging.js looks for a "b" inside of a class=titlebar -->
	</td>
</tr>
<!-- / titlebar.template -->