<!-- titlebar_with_button.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<span class=titlebarButtons>
			<button title=expand class=expand>#</button>
			<button title=close class=close>x</button>
		</span>
		<font color="$colorTitlebarText"><span class=dialogIcon></span> <b>$windowTitle</b></font>
		<br>
	</td>
</tr>
<!-- / titlebar_with_button.template -->
