/* theme/dark/additional.css */
body {
	font-family: helvetica;
	font-size: 14pt;
	background-color: $colorBackground;
}

fieldset {
	border-color: $colorSecondary;
}
.dialog {
	border-radius: 5pt;
	background-color: $colorWindow;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 10pt;
	box-shadow: 0 0 15pt #335555;
	margin-bottom: 5pt;
}
button, input[type=button], input[type=submit], input[type=checkbox] {
	background-color: $colorWindow;
	color: $colorText;
	border-color: #555555;
	box-shadow: 0 0 5pt #335555;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
	border-color: #555555;
}
#txtClock {
	border: 0;
	color: #8080c0;
}
.statusbar td {
	border: 1pt inset $colorWindow;
}
textarea {
    font-family: serif;
    font-size: 12pt;
}
fieldset {
    border-radius: 3pt;
}
.titlebar, .titlebar td {
    border-radius: 3pt;
}
*:focus, *:active {
/* focused items are orange for visibility */
    background-color: #402010 !important;
    color: orange !important;
}
#serverResponse {
/* response from server */
    background-color: $colorHighlightAlert;
    color: $colorText;
    padding: 5pt;
    spacing: 5pt;
    border: 2pt $colorPrimary double;
    display: block
}
@media only screen and (min-width : 30em) {
	.item-textart {
		max-width: 90%;
		background-color: #808080;
	}
	.dialog .txt {
		max-width: 30em;
	}
}
.fileHashShort {
	text-decoration: underline dotted;
}
.titlebarButtons {
	float: right;
}
button.close, button.skip {
	border: 0;
	margin: 0;
}

/* / theme/dark/additional.css */
