/* theme/green/additional.css */
body, table, .item, #txtClock, input {
	font-family: courier;
	font-size: 14pt;
	background-color: $colorBackground;
	color: $colorText;
}
.dialog, hr {
	border: 3pt double $colorTitlebar;
	border-radius: 3pt;
}
fieldset {
	border-color: $colorSecondary;
	background-color: $colorWindow;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
}
button, input[type=button], input[type=submit], input[type=checkbox] {
	background-color: $colorWindow;
	color: $colorText;
	border-color: #808080;
	box-shadow: 0 0 5pt #335555;
}
#txtClock {
	border: 1pt inset $colorWindow;
}
@media only screen and (min-width : 30em) {
	.item-textart {
		max-width: 90%;
		background-color: #808080;
	}
	.dialog .txt {
		max-width: 30em;
	}
}
#serverResponse {
	/* messages from server */
    background-color: $colorHighlightAlert;
    color: $colorText;
    padding: 5pt;
    border: 10pt $colorWindow double;
    display: block;
}
a:focus, a:active {
    color: #40ff40;
    background-color: #004000;
}
input:focus, textarea:focus {
    background-color: #004000;
    color: #40ff40;
}
.fileHashShort {
	text-decoration: underline dotted;
}
.titlebarButtons {
	float: left;
}
.titlebarButtons * {
	background-color: #000400;
	color: #000800;
	border: 0;
	font-family: monospace;
	font-size: x-small;
}
.dialog tbody tr td {
	background-color: #001000;
}
/* / theme/green/additional.css */