<!-- titlebar.template -->
<div class="title-bar">
	<div class="title-bar-text">asdf$windowTitle</div>
	<div class="title-bar-controls">
		<button aria-label="Minimize"></button>
		<button aria-label="Maximize"></button>
		<button aria-label="Close"></button>
	</div>
</div>
<!-- / titlebar.template -->