/* theme/hypercode/additional.css */

* {
	border-radius: 5pt !important;
	font-family: georgia, "times new roman", serif !important;
}
input, textarea {
	background-color: white !important;
	border: 2pt solid #404040 !important;
	margin-top: 2pt !important;
}
#loadingIndicator, #ariaAlert {
	background-color: yellow;
	border-radius: 0 !important;
}
#spanSignAs {
	float: right;
}
.titlebar {
	background-image: linear-gradient(to left top, #fff0ef, #f8e7e8, #f0dde2, #e7d4dd, #ddccd8);
}
#serverResponse {
/* responses from server */
    background-color: $colorWindow;
    color: $colorText;
    padding: 5pt;
    spacing: 5pt;
    border: 2pt $colorPrimary double;
    font-family: inherit;
    font-size: xx-large;
	border-radius: 5pt;
	text-align: center;
}

/* / theme/hypercode/additional.css */
