/* theme/hypercode/additional.css */

* {
	border-radius: 5pt !important;
	font-family: georgia, "times new roman", serif !important;
}
input, textarea {
	background-color: white !important;
	border: 2pt solid #404040 !important;
	margin-top: 2pt !important;
}
#serverResponse {
	display: none;
}
.titlebar {
	background-image: linear-gradient(to bottom right, #ffffff, #fff0ef) !important;
}
#loadingIndicator, #ariaAlert {
	background-color: yellow;
	border-radius: 0 !important;
}
#spanSignAs {
	float: right;
}

/* / theme/hypercode/additional.css */
