<p>
	Acknowlegements: Many thanks to all the people who supported the development of this software.
		
	Software acknowledgements:
	
	http://famfamfam.com/lab/icons/silk/

	https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink
	
	StackOverflow
	
</p>