<!-- access.template ; for letting user switch accessibility mode -->
<form action="/access.html">
	<fieldset>
		<p>Set interface mode:</p>
		<p>
			<input name=btnLightOn value="Light" id=lightOn type=submit>
			<input name=btnLightOff value="Modern" id=lightOff type=submit>
			<!-- these may be targeted by route.php when showing selected setting -->
		</p>
	</fieldset>
</form>
<!-- / access.template -->
