<!-- avatar.template -->
<nobr>
	<span class=avatar>
		<span class=username>
			<font color="$colorUsername">
				<b>$alias</b>
			</font>
		</span>
	</span>
	<span class=icon></span>
</nobr>
<!-- / avatar.template -->