<!-- avatar.formatted.template -->
<span class=avatar style="background-color: #$color1">
	<span class=icon>
		<font color="#$color2">
			$char1
		</font>
		<font color="#$color3">
			$char2
		</font>
	</span>
	<span class=username>
		<font color="#808080">
			$alias
		</font>
	</span>
</span>
<!-- / avatar.formatted.template -->