<!-- gpg2.choices.template -->
<option value=curve25519>curve25519</option>
<option value=ed25519 selected>ed25519 (default)</option>
<option value=p256>p256</option>
<option value=p384>p384</option>
<option value=p521>p521</option>
<option value=secp256k1>secp256k1</option>
<!--<option value=brainpoolP256r1>brainpoolP256r1</option>-->
<!--<option value=brainpoolP384r1>brainpoolP384r1</option>-->
<!--<option value=brainpoolP512r1>brainpoolP512r1</option>-->
<!-- / gpg2.choices.template -->