<!-- item_listing_wrapper.template -->
<table cellpadding=3>
	<tr class=beginner>
		<th width="60%" align=left>Title </th>
		<th align=left>Score </th>
		<th align=left>Replied </th>
		<th align=left>Author <br></th>
	</tr>
	$itemListings
</table>
<!-- / item_listing_wrapper.template -->