<!-- item_listing.template -->
<tr bgcolor="$rowBgColor">
	<td>
		<b><a href="$link">$itemTitle</a></b><br>
	</td>
	<td>
		$authorAvatar
	</td>
	<td>
		$itemLastTouch
	</td>
</tr>
<!-- / item_listing.template -->