<!-- select_key.template -->
<label for=selectKey>
	Restore stored key:<br>
	<select name=selectKey id=selectKey onchange="selectLoadKey(this.value)">
		<option value=0>[No selection]</option>
	</select>
</label>
<!-- / select_key.template -->
