<!-- select_key.template -->
<!-- keychain.template -->
<fieldset>
    <label for=selectKey>
        Select key:<br>
        <select name=selectKey id=selectKey onchange="if (window.selectLoadKey) { selectLoadKey(this) }">
            <option value=0>[No selection]</option>
        </select>
    </label>
</fieldset>
<!-- / select_key.template -->
