<!-- select_key.template -->
<!-- keychain.template -->
<fieldset>
    <label for=selectKey>
        Select key:<br>
        <select name=selectKey id=selectKey onchange="if (window.selectLoadKey) { selectLoadKey(this) }">
            <option value=0>[No selection]</option>
        </select>
    </label>
    <p class=beginner>
    	These keys are stored on <br>
    	your phone or computer. <br>
    </p>
</fieldset>
<!-- / select_key.template -->
