<noscript><p>The account sign in/sign out functionality works through JavaScript, and you appear to have JavaScript disabled.</p><p>If you were previously signed in and would like to sign out without re-enabling JavaScript, you can use your browser's "clear private data" functionality.</p></noscript>
	<script><!--
		// if (window.localstorage) {
		// 	if (window.localstorage has login key) {
		// 		window.localstorage.removeItem('vvvv');
		//		output "logged out";
		//	} else {
		//		output "was not logged in";
		//	}
		// }
// -->
	</script>

