<!-- test.template -->
<meta name="viewport" content="width=device-width">


<font face=arial>
<table cellspacing=0 bgcolor="$colorWindow" cellpadding=3 border=3 style="border: $borderDialog;" class=dialog id=mydiv>
	<tr bgcolor="$colorTitlebar" class=titlebar>
		<td colspan=2 id=mydivheader>
			<font color="$colorTitlebarText"><b>Untitled</b></font>
		</td>
	</tr>
	
	<tr bgcolor="$colorWindow" class=menubar>
		<td colspan=2>
		<p>
			<a href=#>Agree</a>;
			<a href=#>Reply</a>;
			<a href=#>Report</a>;
			<a href=#>Help</a>;
			<a></a>
		</td>
	</tr>
	
	<tr class=body>
		<td class=content style="border: 1pt inset #c0c0c0" colspan=2 bgcolor=#ffffff>
			<p>abcad
			<p>adfadsfadfa
			<p>asdfadfad
		</td>
	</tr>
	
	<tr class=statusbar>
		<td>
			<p>Posted by <b>Admin</b> at 1571247455
		</td>
		<td align=right>
			<p>Score: 123414
		</td>
	</tr>
</table>
</font>


<hr>

<!-- id_curent2.template -->
<form id=formCurId name=formCurId style="display:none">
	<font face=arial>
		<table cellspacing=0 cellpadding=6 border=0 bgcolor="$colorWindow" class=dialog>
			<tr bgcolor="$colorTitlebar" class=titlebar>
				<td>
					<font color="$colorTitlebarText"><b></b></font>
				</td>
			</tr>

			<tr class=menubar>
				<td>
					<p>
				</td>
			</tr>

			<tr class=body>
				<td class=content>
					<p>
						<span class=beginner>Signed In:</span>
						<span id=myId2 class=avatar>Loading...</span>
					</p>

					
				</td>
			</tr>

			<tr class=statusbar>
				<td>
					Ready
				</td>
			</tr>
		</table>
	</font>
</form>
<!-- / id_curent2.template -->



<style>
<!--
	#mydiv {
	  	position: absolute;
 		z-index: 9;
	}
-->
</style>
<script>
<!--
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
// -->
</script>


<!-- / test.template -->