<!-- item/classify.template -->
<fieldset>
	<legend><b>Existing Tags</b><br></legend>
	<span id=itemTagsList></span>
</fieldset>
<br>
<fieldset>
	<legend><b>Add:</b><br></legend>
	<span id=itemAddTagButtons></span>
</fieldset>
<br>
<fieldset class=advanced>
	<legend><b>Score:</b><br></legend>
	<span id=itemScore></span>
</fieldset>
<!-- / item/classify.template -->