<!-- content.template -->

<p>
	Prayer requests. <br>
	<br>
	Helpful information. <br>
	<br>
	Your favorite scripture. <br>
	<br>
	Your thoughts on what's posted. <br>
	<br>
	Anything else that's kind, good, and thoughtful.<br>
	<br>
	Comments on how to improve the space itself. We read them!
</p>

<!-- / content.template -->