<!-- content.template -->

<p>
	Prayer requests. <br>
	<br>
	Helpful information. <br>
	<br>
	Your favorite scripture. <br>
	<br>
	Anything else on your mind, kindly.<br>
	<br>
	Comments on how to improve the space itself.
</p>

<!-- / content.template -->