<!-- privacy.template -->

<p style="max-width: 50em">
	You are not required to use your official name on Yavista.
</p>

<p style="max-width: 50em">
	Everything you write on Yavista is fully public and viewable by anyone.
</p>

<p style="max-width: 50em">
	Full data exports of all public content are provided for convenience.
</p>

<!-- / privacy.template -->