<!-- privacy.template -->

<p style="max-width: 50em">
	You are not required to use your official name on Yavista.
</p>

<p style="max-width: 50em">
	Everything you write on Yavista is fully public and viewable by anyone.
</p>

<p style="max-width: 50em">
	Public content is provided in plain-text format for your convenience.
</p>

<!-- / privacy.template -->