<!-- rules.template -->

<p>
	1. Post only what is kind and true. <br>
	<br>
	2. Use "flag" button on anything not kind or true. <br>
	<br>
	3. Avoid causing more rules to be added.
</p>

<!-- / rules.template -->
