<!-- theme/modern/template/html/menu_top.template -->
<big>$menuItems</big>
<span class=advanced>$menuItemsAdvanced</span>
<span class=admin> $menuItemsAdmin</span>
<span id=controls></span>
<span id=spnClock></span>
<!-- / theme/modern/template/html/menu_top.template -->
