<!-- new_box_count.template -->
<form action=/post.html>
<input type=text value=box_count size=5>
<input type=submit value=Send>
</form>
<p>Instructions for counting to here</p>
<!-- / new_box_count.template -->