<title>Welcome to Banana Lounge</title>
<body bgcolor="#ffffc0">
<p>Welcome to Banana Lounge.</p>
<p>To continue, please sign in with username <b>banana</b> and password <b>banana</b> and reload.</p>
<p>This is a temporary anti-spam measure.</p>
<p><a href="/profile.html">Continue</a></p>
