<!-- item/classify.template -->
<fieldset>
	<legend><b>Existing Labels:</b><br></legend>
	<span id=itemLabelsList></span>
</fieldset>
<br>
<fieldset>
	<legend><b>Add:</b><br></legend>
	<span id=itemAddLabelButtons></span>
</fieldset>
<br>
<fieldset class=advanced>
	<legend><b>Score:</b><br></legend>
	<span id=itemScore></span>
</fieldset>
<!-- / item/classify.template -->
