/* theme/btc/additional.css */
/* meant to be used with chicago theme */
:root {
	--dark-bg: #101010;
	--orange-bg: #FF8001;
	--text-light: #ffffff;
	--link-color: #c08000;
	--hover-link-color: #FFA030;
	--shadow-color: rgba(0,0,0,0.5);
}

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 1rem; /* 16px */
	background-image: linear-gradient(to right, var(--dark-bg), var(--orange-bg));
	margin: 1.25rem; /* 20px */
}

.dialog {
	box-shadow: 0.3125rem 0.3125rem 0.3125rem var(--shadow-color); /* 5pt */
}

button, input[type="text"], input[type="password"], select, option, textarea {
	background-color: var(--orange-bg);
	color: var(--text-light);
	font-family: inherit;
	font-size: 1.125rem; /* 18px */
	border: none;
	padding: 0.5rem 0.9375rem; /* 8px 15px */
	border-radius: 0.3125rem; /* 5px */
}

.titlebar {
	background-color: var(--dark-bg);
	color: var(--text-light);
	font-size: 1.25rem; /* 20px */
	font-weight: bold;
}

a:link, a:visited {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--hover-link-color);
}

p {
	color: #000000;
}

big a {
	color: #404040 !important;
}
/* / theme/btc/additional.css */