<!-- theme/modern/template/html/window/standard.template -->
<div class="dialog">
	$windowTitlebar
	<div class="content">$windowBody</div>
	<div class="statusbar">$windowStatus</div>
</div>
<!-- / theme/modern/template/html/window/standard.template -->
