background:
linear-gradient(45deg, $colorPrimary 45pt, transparent 45pt)64pt 64pt,
linear-gradient(45deg, $colorPrimary 45pt, transparent 45pt,transparent 91pt, $colorSecondary 91pt, $colorSecondary 135pt, transparent 135pt),
linear-gradient(-45deg, $colorPrimary 23pt, transparent 23pt, transparent 68pt,$colorPrimary 68pt,$colorPrimary 113pt,transparent 113pt,transparent 158pt,$colorPrimary 158pt);
background-color:$colorSecondary;
background-size: 128pt 128pt;
/* Copyright (c) 2011 Lea Verou, http://lea.verou.me/ */