background:
linear-gradient(-45deg, $colorPrimary 25%, transparent 25%, transparent 75%, $colorSecondary 75%, $colorSecondary) 0 0,
linear-gradient(-45deg, $colorSecondary 25%, transparent 25%, transparent 75%, $colorPrimary 75%, $colorPrimary) 1em 1em,
linear-gradient(45deg, $colorSecondary 17%, transparent 17%, transparent 25%, $colorSecondary 25%, $colorSecondary 36%, transparent 36%, transparent 64%, $colorSecondary 64%, $colorSecondary 75%, transparent 75%, transparent 83%, $colorSecondary 83%) 1em 1em;
background-color: $colorPrimary;
background-size: 2em 2em;
/* Copyright (c) 2011 Lea Verou, http://lea.verou.me/ */