	background: $colorPrimary;
	background:
	linear-gradient(45deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
	linear-gradient(90deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
	linear-gradient(135deg, transparent 75%, rgba(255,255,255,.8) 75%) 7pt -5pt,
	linear-gradient(180deg, transparent 75%, rgba(255,255,255,.8) 75%) 7pt -5pt,
	$colorPrimary;
	/* Copyright (c) 2011 Lea Verou, http://lea.verou.me/ */