	background-color:#e0e0e0;
	background-image:
	radial-gradient(circle at 100% 150%, #e0e0e0 24%, white 25%, white 28%, #e0e0e0 29%, #e0e0e0 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, #e0e0e0 24%, white 25%, white 28%, #e0e0e0 29%, #e0e0e0 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, #e0e0e0 11%, #e0e0e0 23%, white 24%, white 30%, #e0e0e0 31%, #e0e0e0 43%, white 44%, white 50%, #e0e0e0 51%, #e0e0e0 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, #e0e0e0 6%, #e0e0e0 15%, white 16%, white 20%, #e0e0e0 21%, #e0e0e0 30%, white 31%, white 35%, #e0e0e0 36%, #e0e0e0 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, #e0e0e0 6%, #e0e0e0 15%, white 16%, white 20%, #e0e0e0 21%, #e0e0e0 30%, white 31%, white 35%, #e0e0e0 36%, #e0e0e0 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size: 100px 50px;
	/* Copyright (c) 2011 Lea Verou, http://lea.verou.me/ */