<!-- welcome.template -->
<p>Flyerian is a revolutionary forum system that brings the power back to the users.</p>
<p>It prioritizes transparency, auditability, and, importantly, consent.</p>
<p>Meaning users have full control over their profiles, content, and social networks.</p>
<p>Imagine being able to take your entire digital existence on a forum, and seamlessly move or clone it to another platform, if you choose to.</p>
<p>This is about giving users unprecedented access to choices and control over their online interactions.</p>
<p>It's not just about chatting online, it's about defining the future of digital social interaction.</p>
<!-- / welcome.template -->
