<!-- enter.template -->
<form name=formRegisterMember action="/profile.html">
	<p>
		To become a member, <br>
		Press the Member button once, <br>
		and wait a few secs.
	</p>
	<p align=center>
		<input id=member name=btnRegister type=submit value="Member">
	</p>
</form>
<!-- / enter.template -->