<!-- enter.template -->
<form action="/profile.html">
	<p align=center>
		<input id=guest name=btnRegister type=submit value="Continue as Guest">
	</p>
	<p align=center>
		<input id=member name=btnRegister type=submit value="Member">
	</p>
</form>
<!-- / enter.template -->