<!-- enter.template -->
<form name=formBeginGuest action="/session.html">
	<p>
		Press for guest access:
	</p>
	<p align=center>
		<input id=guest name=btnBegin type=submit value="Guest">
	</p>
</form>
<!-- / enter.template -->