<!-- enter.template -->
<form name=formRegisterGuest action="/profile.html">
	<p>
		If you are a Guest, <br>
		a Member must vouch for you, <br>
		such is life online.
	</p>
	<p align=center>
		<input id=guest name=btnRegister type=submit value="Continue as Guest">
	</p>
</form>
<!-- / enter.template -->