<!-- avatar.template -->
<nobr>
	<span class=avatar>
		<span class=username>
			<font color="$colorUsername">
				<b>$alias</b>
			</font>
		</span>
		<span class=icon>
			[
			<font color="$color2">
				$char1
			</font>
			<font color="$color3">
				$char2
			</font>
			<font color="$color4">
				$char3
			</font>
			]
		</span>
	</span>
</nobr>
<!-- / avatar.template -->