<!-- titlebar_with_button.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<span class=titlebarButtons>
			<button title=skip
				class=skip
			>
				$btnCloseCaption
			</button>
			<button title=close
				class=close
				onclick="if (window.GetParentDialog) { GetParentDialog(this).remove() }"
			>x</button>
		</span>
		<font color="$colorTitlebarText"><b>$windowTitle</b></font>
		<br>
	</td>
</tr>
<!-- / titlebar_with_button.template -->
