<html>
<head>
<title>Ilya Gulko</title>
<style type="text/css">
<!--
body {
	font-family: georgia;
}
a {
	font-family: helvetica;
	font-weight: bold;
	font-size: default;
}
// -->
</style>
</head>
<body>
<table height="99%" width="99%" border="0"><tr><td valign=middle align=center>
<h1>Ilya Gulko</h1>
<p><a href="/tag/approve.html">Blog</a></p>
<p><a href="http://qdb.us/image.html">qdb.us</a></p>
<p><a href="http://www.yavista.com/">Yavista</a></p>
<p><a href="http://www.github.com/gulkily">GitHub</a></p>
<p></p><a href="/photos/">Photos</a></p>
<p><a href="http://stackoverflow.com/users/128947/i-g">StackO</a></p>
<p><a href="https://mastodon.mit.edu/@ilyag"><small>Mastodon</small></a></p>
</td></tr></table>
</body>
</html>
