/* begin template/css/blink.css */
blink {
	-webkit-animation: 2s linear infinite condemned_blink_effect; // for Safari 4.0 - 8.0
	animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for Safari 4.0 - 8.0
	0% {
		visibility: hidden;
	}
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes condemned_blink_effect {
	0% {
		visibility: hidden;
	}
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
/* end template/css/blink.css */
