/* default/template/css/default.css */
.tag-flag,
.tag-troll,
.tag-spam,
.tag-remove,
.tag-slash,
.tag-abuse {
/* negative (red) tags */
	color: $colorTagNegativeText;
	font-weight: bold;
}

.tag-remove {
/* remove tag */
	font-weight: bold;
}

.tag-approve,
.tag-accept,
.tag-friend,
.tag-attend,
.tag-like,
.tag-vouch {
/* positive (green) tags */
	color: $colorTagPositiveText;
	font-weight: bold;
}

.tag-hide {
	color: gray;
}

div.reply {
/* creates indented effect for sub-replies */
	margin-left: 2%;
	padding-left: 3em;
}

.item-textart {
/* textart items get monospace font */
	font-family: monospace;
	font-size: 12pt;
}

.tag-aolart {
/* aol art in 10-point arial font */
    font-family: Arial;
    font-size: 10pt;
}

div.txt {
	padding-left: 1em;
}

.byadmin {
/* text by admin, displayed in red for users' sake */
	color: red;
}

.signed {
/* signed things are displayed in gold */
    border-color: gold;
}


#eventLocation {
/* event form */
	background-color: $colorRow0Bg;
	padding: 5pt;
}

#eventDate {
/* event form */
	background-color: $colorRow1Bg;
	padding: 5pt;
}

#loadingIndicator, #spanLoadingIndicator, #ariaAlert {
	color: $colorText;
	background-color: $colorHighlightBeginner;
	padding: 3pt;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
}
#loadingIndicator a {
	/* style for links in loading indicator */
}
.notification {
	color: $colorText;
	background-color: $colorHighlightBeginner;
	padding: 3pt;
	font-weight: bold;
	padding: 3pt;
}
noscript, .noscript {
	color: red;
}
.menubar a, .titlebar a, .topmenubar a {
	text-decoration: none;
	color: $colorText;
}
nobr {
	white-space:nowrap;
}
input[type=button], button, input[type=submit] {
	color: $colorText;
	background-color: $colorWindow
}
pre.sql {
	border: solid 3px $colorWindow;
}
pre.sql:focus {
	background-color: $colorInputBackground;
	border: inset 3px $colorWindow;
}
code.cpp b {
	color: green;
}
code.cpp i {
	color: gold;
}
code.sql b {
	color: green;
}
code.sql i {
	color: gold;
}
/* / default/template/css/default.css */
