<!-- welcome.template -->
Welcome to HyperCode, <br> 
an experimental web space for you. <br> 
Please, <a href="/write.html" onclick="InjectDialog('write'); return false;">be nice</a>.
<!-- / welcome.template -->