<!-- welcome.template -->
<p>
	Welcome to resource. <br>
	Please read instructions below. <br>
	They may be helpful.
</p>
<p>
	To become a member, <br>
	Press the Member button once, <br>
	and wait a few secs.
</p>
<p>
	If you are a Guest, <br>
	a Member must vouch for you, <br>
	such is life online.
</p>
<!-- / welcome.template -->